<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Covid-19 Global Stats Updates</h1>
    <h2>Sample Java REST Endpoint</h2>
    <p>This is a simple, proof of concept, REST API Java application. For details on functionality, see "How this works" further below. Use the the buttons for samples of response data from the endpoints.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://java-test-bh.herokuapp.com/update"><span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;GET single example</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://java-test-bh.herokuapp.com/updates"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;GET all example</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Endpoint Specification:</h3>
      <ul>
        <li><b>Latest Record from Database:</b>
          <code>
            https://java-test-bh.herokuapp.com/update
          </code>
        <li><b>All Records from Database:</b>
          <code>
            https://java-test-bh.herokuapp.com/updats
          </code>
        <li><b>Authentication:</b> None</li>
        <li><b>Headers:</b> None</li>
      </ul>
      <br>
      <h3><span class="glyphicon glyphicon-info-sign"></span> HTTP GET Request Sample using Python</h3>
      <pre><code>import requests
from pprint import pprint
import json

result = requests.get('http://java-test-bh.herokuapp.com/updates')
pprint(result.json())</code></pre>
      <br>
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this works</h3>
      <ul>
        <li><b>Functionality:</b></li>
        <ul>
          <li><b>Step 1:</b> A GET request is made to <a href="https://corona.lmao.ninja/all">https://corona.lmao.ninja/all</a> to pull the current global status for cases, losses, recovered, and the current date.</li>
          <li><b>Step 2:</b> The JSON from the request is parsed into a class that transforms the date format into a human readable string.</li>
          <li><b>Step 3:</b> The class data is inserted into a SQLite database.</li>
          <li><b>Step 4:</b> The data in the database is made available via two REST endpoints ("/update" pulls the most recent record; "/updates" pulls all records).</li>
          <li><b>Step 5:</b> When a request is made to one of the two endpoints the data is pulled from the database, transformed into a JSON string using a StringBuilder, then returned to the requester.</li>
          <li><b>NOTE:</b> Rather than create a scheduled task to routinely poll <a href="https://corona.lmao.ninja/all">https://corona.lmao.ninja/all</a>, an update is pulled each time a GET request is made to this application. The intention is to use it with an existing website that will pull from this application at regular intervals.</li>
        </ul>
        <li><b>Deployment:</b> Heroku using a GitHub => Heroku connection.</li>
        <li><b>Web Framework:</b> Spring</li>
        <li><b>Build Framework:</b> Maven</li>
        <li><b>Foundation:</b> The Java application is based off of <a href="https://github.com/heroku/java-getting-started">Heroku's sample Java app</a>. Extensive modifications were made to the original foundation. No functionality originally existed related to making GET requests, JSON parsing and transformation, SQLite, or hosting REST endpoints.</li>
        <li><b>Development Environment:</b> Intellij IDEA Community Edition (running on Ubuntu 18.04)</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
